.board {
	display: grid;
	width: var(--board-width);
	aspect-ratio: 1 / 1;
	outline: 1px solid var(--clr-border);
	grid-template-columns: repeat(var(--rows-count), 1fr);
	background: var(--clr-board-bg);
	max-width: 90vw;
}

.board-container {
	display: flex;
	flex-direction: column;
}
