.board {
	display: grid;
	width: var(--board-width);
	height: var(--board-width);
	max-width: var(--board-width-max);
	max-height: var(--board-height-max);
	outline: 1px solid var(--clr-border);
	grid-template-columns: repeat(var(--rows-count), 1fr);
	background: var(--clr-board-bg);
}

.board-container[data-fullscreen="true"] {
	--board-width: var(--board-width-max);
}

.board-container {
	display: flex;
	flex-direction: column;
}
