.stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	container-type: inline-size;
}

.stats-box {
	display: flex;
	flex-wrap: nowrap;
	gap: 0.5rem;
	font-weight: bold;
	font-size: 8cqi;
}

.white {
	color: white;
}

.yellow {
	color: yellow;
}

.lightblue {
	color: lightblue;
}
