:root {
	--circle-width: 10cqh;
	--line-height: 30%;
	--line-opacity: 0.7;
	--clr-0: 128, 0, 128;
	--clr-1: 30, 144, 255;
	--clr-2: 70, 130, 180;
	--clr-3: 255, 255, 0;
	--clr-4: 255, 165, 0;
	--clr-5: 128, 128, 0;
	--clr-6: 220, 20, 60;
	--clr-7: 255, 228, 196;
	--clr-8: 138, 43, 226;
	--clr-9: 233, 150, 122;
	--clr-10: 205, 92, 92;

	--clr-11: 173, 216, 230;
	--clr-12: 173, 216, 230;
	--clr-13: 173, 216, 230;
	--clr-14: 173, 216, 230;
}

.tile {
	container-type: inline-size;
	outline: 1px solid var(--clr-border);
	display: grid;
	place-items: center;
	position: relative;
	color: rgb(var(--tile-clr));
	&[data-color]:hover {
		cursor: pointer;
		&::before {
			outline: 3px solid currentColor;
			outline-offset: 2px;
			z-index: 2;
		}
	}
}

.tile[data-color][data-populated] {
	background-color: rgba(var(--tile-clr), var(--line-opacity));
}

.tile[data-current]::before {
	content: "";
	border-radius: 50%;
	border: 1px solid #000;

	outline: 3px solid currentColor;
	outline-offset: 2px;

	width: calc(var(--circle-width) / 5);
	aspect-ratio: 1 / 1;
	position: absolute;
	background-color: currentColor;
}

.tile.tile__item[data-color]::before {
	content: "";
	border-radius: 50%;
	width: var(--circle-width);
	aspect-ratio: 1 / 1;
	max-width: 75cqw;
	position: absolute;
	background-color: currentColor;
}

.tile[data-color="0"] {
	--tile-clr: var(--clr-0);
}

.tile[data-color="1"] {
	--tile-clr: var(--clr-1);
}

.tile[data-color="2"] {
	--tile-clr: var(--clr-2);
}

.tile[data-color="3"] {
	--tile-clr: var(--clr-3);
}

.tile[data-color="4"] {
	--tile-clr: var(--clr-4);
}

.tile[data-color="5"] {
	--tile-clr: var(--clr-5);
}

.tile[data-color="6"] {
	--tile-clr: var(--clr-6);
}

.tile[data-color="7"] {
	--tile-clr: var(--clr-7);
}

.tile[data-color="8"] {
	--tile-clr: var(--clr-8);
}

.tile[data-color="9"] {
	--tile-clr: var(--clr-9);
}

.tile[data-color="`"] {
	--tile-clr: var(--clr-10);
}

.tile[data-color="a"] {
	--tile-clr: var(--clr-11);
}

.tile[data-color="b"] {
	--tile-clr: var(--clr-12);
}

.tile[data-color="c"] {
	--tile-clr: var(--clr-13);
}

.tile[data-color="d"] {
	--tile-clr: var(--clr-14);
}
